body {
  margin: 0;
  font-family: 'Poiret One', sans-serif;
}

.nav-bar {
  padding: 1rem;
}

.navBar .nav-link {
  color: black;
  font-size: 1.5rem;
  font-family: 'Poiret One', sans-serif;
}

.navBar .nav-link:hover {
  color: #ffa500; /* Highlight color */
}

.logo {
  height: 150px;
  margin-right: 50px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.galleryImage {
  position: relative;
  width: 100%;
}

.galleryTitle {
  position: absolute;
  top: 200px;
  width: 100%;
  padding-left: 50px;
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3em;
}
.about-container {
  display: flex;
  justify-content: center;
}

.aboutImage {
  width: 50%;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: black;
  font-size: 3em;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.photo-container {
  column-count: 3;
  column-gap: 16px;
}
.photo-item {
  margin-bottom: 16px;
  break-inside: avoid;
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive styles */
@media (max-width: 769px) {
  .navBar {
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .photo-container {
    column-count: 2; /* Fewer columns for tablets */
  }
}

@media (max-width: 768px) {
  .photo-container {
    column-count: 1; /* Single column for smaller screens */
  }
}
